# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/test

# production
build

# misc
/playlist_data
.localized
.DS_Store
.env
.env.local
.env.development.local
.env.staging.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

_*

# certificates
*.pem
klv.json.gz